.logo{
    width: 100px;
}
.navbarcontenitore{
    background-color: white;
}

header{
    background: linear-gradient(rgb(255, 255, 255), transparent), url(./media/mountains2.png),url(./media/switzerland-862870_1920.jpg);
    background-size: cover;
    background-position: center;
}

h1{
    letter-spacing: 20px;
    color: darkred;
    font-size: 4rem;
}

body{
    font-family: 'Nova Square', corsive;
    background-color: #ececec;
}

h3{
    font-style:oblique;
    font-size:medium;
    color: grey;
    text-align: center;
}

h3,p{
    font-family: 'Rajdhani' , sans-serif;
    color: grey;
}

i{
    color: #8b0000;
}

.linea{
        border-bottom: 3px solid darkred;
        position:relative;
}

.cerchio{
    width:15px;
    height:15px;
    border-radius: 50%;
    background-color:white;
    border: 2px solid darkred;
    position:absolute;
    bottom:-9px;
    z-index:2;
}

h4{
    color: darkred;
    font-size: x-large;
    margin: 10px;
}

.libutton {
    background-position: bottom;
    background-repeat: no-repeat;
    width:100%;
}

.gr {
    height: 60vh;  
}

.lips {
    background-color: darkred ;
    border-radius: 0;
    font-family: 'Rajdhani' , sans-serif;
}

.testo {
    font-size:medium;
    color:white;
    padding:0 40px;
}

.albia{
    background-size: cover;
    background-position: center;
    padding-top: 100px;

}

.cerchio2{
    width:15px;
    height:15px;
    border-radius: 50%;
    background-color:white;
    border: 2px solid darkred;
    position:absolute;
    bottom:-9px;
    z-index:2;
}
.linea2{    
        border-bottom: 3px solid darkred;
        position:relative;
}

h5{
    font-family: 'Rajdhani' , sans-serif;
    color: #8b0000;
}

.otc {
    background-color: white;
    background-position:bottom right;
}

.ptl {
    border-left: 3px solid darkred;
    padding:3px 0px 10px 10px;
    position:relative;
    z-index: 3;
}

.ptl2 {
    width:15px;
    height:15px;
    border-radius: 50%;
    background-color:white;
    border: 1px solid darkred;
    position:absolute;
    top:-9px;
    left:-9px;
    z-index:3;
    margin-top: 15px;
}
.ourt{
    height: 80px;
}

.ourteam{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 3px solid white;
}

.cr{
    border:2px solid darkred;
    width: 105px;
    border-radius: 50%;
}

h6{
    font-family: 'Rajdhani' , sans-serif;
    color: #8b0000;
}

.ourbenefit{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 3px solid white;
}

.be{
    border:2px solid darkred;
    width: 205px;
    border-radius: 50%;
}

footer{
    background-color: #8b0000;
}

.fo{
    color: white;
    font-size: xx-large;

}

.fo2{
    color: white;
    font-size: large;
    font-family: 'Rajdhani' , sans-serif;
}

.fo3{
    color: white;
    font-size: medium;
    font-family: 'Rajdhani' , sans-serif;
   
}

.fo4{
    color: white;
    font-size: medium;
    font-family: 'Rajdhani' , sans-serif;
    margin: 10px;
}
